<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inkwave</title>
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/main.css">


</head>
<body>
    <header>
        <div class="container">
          <!-- Logo acts as the home link -->
          <h2 class="logo"><a href="/">Inkwave</a></h2>
        <nav>
          <div>
            <ul class="nav-links">
                <li><a href="/about">About</a></li>
                <li><a href="/explore-blogs">Explore Blogs</a></li>
                <li><a href="/start-writing">Start Writing</a></li>
            </ul>
          </div>

          <div class="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>


        </nav>
        </div>
    </header>


</body>
</html>