<div class="layout">
   <!-- Include the header -->
   <%- include('partials/header.ejs') %>

   <!-- Hero Section -->
    <section class="hero">
      <div class="container">
       <h1>Welcome to <span>Inkwave</span></h1>
       <p>Your thoughts, your voice, your stories — shared with the world.</p>
        <div class="buttons">
         <a href="/explore-blogs" class="primary-btn">Explore Blogs</a>
         <a href="/start-writing" class="outline-btn">Start Writing</a>         
        </div>
      </div>
    </section>



   <!-- Include the footer -->
   <%- include('partials/footer.ejs') %>
</div>