    <div class="layout">
    <%- include('partials/header.ejs') %>
    

    <main class="blog-form">
     <div class="container">
        <form action="/publish" method="POST">
          <div class="input-container">
            <input type="text" name="name" placeholder="Your Name" class="blog-author" required />
            <input type="text" name="title" placeholder="Blog Title" class="blog-title" required />
            <textarea name="content" placeholder="Start writing your content here..." class="blog-content" rows="10" required></textarea>
            <button type="submit" class="primary-btn">Publish</button>
          </div>
        </form>
      </div>
      </main>


    <%- include('partials/footer.ejs') %>
  </div>
